body {
  margin: 0;
}


/*
padding は内側に余白を作ります

*/
.padding-box {

  background-color: silver;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  /*
  まとめて padding: 40px; と書くこともできる
  */
}



/* margin は外側に余白を作ります */
.margin-box {

  background-color: silver;

  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  /*
  まとめて margin: 40px; と書くこともできる
  */
}
