@charset "UTF-8";


/*

align-items: 垂直方向の揃え方


flex-start = 左・上揃えにする
flex-end = 右・下揃えにする
center = 中央揃えにする
baseline  = コンテンツのベースラインに揃える
stretch = 大きい要素に合わせて伸縮させる

*/
.box{
  width: 1200px;
  display: flex;
  align-items: center;

  background: red;
  border: 1px solid gray;
}

.child-1,
.child-2,
.child-3,
.child-4,
.child-5,
.child-6{
  width: 200px;
  height: 150px;
  background: lightgray;
  box-sizing: border-box;
}

.child-2,
.child-4,
.child-5{
  height: 250px;
  font-size: 60px;
}

.child-2,
.child-4,
.child-6{
  background: white;
}
