@charset "UTF-8";


/*

display: flex; でこ要素を柔軟に並べることができる

*/
.box{
    display: flex;
}

.child-1{
  width: 200px;
  height: 200px;
  background: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
}

.child-2{
  width: 200px;
  height: 200px;
  background: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
}

.child-3{
  width: 200px;
  height: 200px;
  background: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
}
