@charset "UTF-8";


/*

flex-direction: xxxxx;
子要素の並べ方を指定できます。

flex-direction:row; ... 横方向に並べる（初期値）
flex-direction:row-reverse; ... 横方向に逆順に並べる
flex-direction:column; ... 縦方向に並べる
flex-direction:column-reverse; ... 縦方向に逆順に並べる

*/
.box{
    display: flex;
    flex-direction:row-reverse;

    border: 1px solid gray;
    background: red;
}

.child-1{
  width: 200px;
  height: 200px;
  background: lightgray;
  box-sizing: border-box;
}

.child-2{
  width: 200px;
  height: 200px;
  background: white;
  box-sizing: border-box;
}

.child-3{
  width: 200px;
  height: 200px;
  background: lightgray;
  box-sizing: border-box;
}
